@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-lines {
  background-image: url("../public/images/bg-lines.png");
  background-position-x: 50%;
  background-size: 80%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  .bg-lines {
    background-size: 180%;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #191c38;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 10px;
}

.nav-link {
  transition: text-shadow 201ms ease-out;
}
.nav-link:hover {
  text-shadow: 0px 0px 18px rgba(240, 237, 253, 0.78);
}

.pos-relative {
  position: unset !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.liststyle-none {
  list-style: none;
}

@media screen and (min-width: 1024px) {
  .h-first-section {
    height: calc(100vh - 128px);
  }
}

.homeblur {
  transform: translate3d(0, 0, 0);
}

.notfound-block {
  height: calc(100vh - 300px);
}
